{% if cnf.security.headers | bool %}
    # Security headers
{%   for header, value in defaults_security_headers.items() %}
    http-after-response add-header {{ header }} "{{ value }}" if !{ res.hdr({{ header }}) -m found }
{%   endfor %}
{% endif %}
{% if cnf.security.fingerprint_ssl | bool %}
    # SSL fingerprint
{%   if cnf.security.fingerprint_ssl_type | lower == 'ja4' and HAPROXY_CONFIG.version is version('3.1', '>=') %}
    http-request lua.fingerprint_ja4
    http-request capture var(txn.fingerprint_ssl) len 36
{%   elif cnf.security.fingerprint_ssl_type | lower == 'ja3n' %}
    http-request lua.fingerprint_ja3n
    http-request capture var(txn.fingerprint_ssl) len 32
{%   endif %}
{% endif %}
